body{
  font-family: 'Oxygen', sans-serif;
}

#navbar-header {
  background-color: #808080;
  width: 100%;
}

#header-nav {
  background-color: #ffffff;
}

.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#menu-tile {
	background-color: #808080;
  padding-top: 10px;
  margin-top: 20px;
}

#menu-title {
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 10px;
}

#menu-tile p {
  color: black;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
}

#collapsable-nav {
	background-color: white;
  border: 1px solid black;
}

#nav-list {
  font-size: 1.5em;
  color: solid black;
  text-align: center;
  margin: 0px;
}

#nav-list li {
  border-bottom: 1px solid black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #888888;
}

.navbar-default .navbar-toggle {
  border: 1px solid black;
}

.navbar-default .navbar-toggle[aria-expanded="true"]{
  border: 1px solid white;
}


.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar {
  border: 2px solid white;
}

.navbar-default .navbar-toggle .icon-bar {
  border: 2px solid black;
}